
// Variable colors:

$background-color: var(--background-color);
$surface-color: var(--surface-color);
$primary-color: var(--primary-color);
$accent-color: var(--accent-color);

$on-background-color: var(--on-background-color);
$on-surface-color: var(--on-surface-color);
$on-primary-color: var(--on-primary-color);
$on-accent-color: var(--on-accent-color);


// Keen-UI colors

$brand-primary-color: $primary-color;
$brand-accent-color: $accent-color;
