$normal-page-width: 60rem;

$small-margin: 0.5rem;
$medium-margin: 1rem;
$large-margin: 2rem;

// $text-color: #2c3e50;
$text-color: #dad2ce;

// $main-background-color: rgb(252, 252, 252);
$main-background-color: rgb(83, 82, 81);
// $background-background-color: rgb(222, 219, 212);
$background-background-color: rgb(38, 35, 32);
$input-background-color: rgb(205, 198, 193);
$input-highlight-background-color: rgb(240, 236, 233);
$positive-background-color: rgb(182, 251, 139);
$negative-background-color: rgb(251, 157, 141);

// $light-border-color: rgb(244, 244, 244);
$light-border-color: rgb(59, 54, 50);
// $medium-border-color: rgb(193, 193, 193);
$medium-border-color: rgb(99, 95, 90);

$positive-color: rgb(133, 222, 112);
$negative-color: rgb(204, 121, 110);
$neutral-color: rgb(181, 181, 181);


input {
	padding: $small-margin;
	box-sizing: border-box;

	border: 1px solid $light-border-color;
	border-radius: $small-margin;

	background-color: $input-background-color;

	&:focus {
		background-color: $input-highlight-background-color;
		border-color: $medium-border-color;
	}

	&:invalid {
		background-color: $negative-background-color;
	}
}
