$small-margin: 0.5rem;
$medium-margin: 1rem;
$large-margin: 2rem;

$light-background-color: rgb(252, 252, 252);
$background-background-color: rgb(222, 219, 212);
$positive-background-color: rgb(182, 251, 139);
$negative-background-color: rgb(251, 157, 141);

$light-border-color: rgb(244, 244, 244);
$medium-border-color: rgb(193, 193, 193);

$positive-color: rgb(133, 222, 112);
$negative-color: rgb(204, 121, 110);
$neutral-color: rgb(181, 181, 181);
