@import "@/style/globals.scss";
@import 'keen-ui/src/styles/md-colors.scss';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap&subset=latin-ext');


:root {
	--background-color: white;
	--surface-color: white;//rgba(0, 0, 0, .005);
	--primary-color: $md-blue;
	--accent-color: $md-purple-a400;

	--on-background-color: rgba(0, 0, 0, 0.87);
	--on-surface-color: rgba(0, 0, 0, 0.87);
	--on-primary-color: rgba(0, 0, 0, 0.87);
	--on-accent-color: rgba(0, 0, 0, 0.87);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: $main-font-family;
	font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $title-font-family;
	font-weight: 500;
}

h1 {
	font-size: 140%;
}
