[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
requests = "*"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
fastapi = "*"
uvicorn = "*"
aiofiles = "*"
databases = {extras = ["postgresql"],version = "*"}
passlib = {extras = ["bcrypt"],version = "*"}
pyjwt = "*"
python-multipart = "*"
python-dotenv = "*"
