[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
fastapi = "*"
uvicorn = "*"
aiofiles = "*"
databases = {extras = ["sqlite"],version = "*"}
